pipeline/pl_CENSUS_Main.json
{
	"name": "pl_CENSUS_Main",
	"properties": {
		"activities": [
			{
				"name": "OnErrorSendEmail",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "If Valid Snapshot and Session",
						"dependencyConditions": [
							"Failed",
							"Skipped"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "UTBI_Send_Email",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"receiver": {
							"value": "@pipeline().parameters.email_to",
							"type": "Expression"
						},
						"subject": {
							"value": "Pipeline @{pipeline().Pipeline} Failure",
							"type": "Expression"
						},
						"message": {
							"value": "The pipeline @{pipeline().Pipeline} has failed. Please investigate and restart as required.",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set SESSION_CD",
				"description": "Compute SESSION_CD from current date",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_SESSION_CD",
					"value": {
						"value": "@if(equals(int(substring(utcNow(),5,2)), 1), concat(substring(utcNow(),0,4), '1'), \nif(equals(int(substring(utcNow(),5,2)), 2), concat(substring(utcNow(),0,4), '1'), \nif(equals(int(substring(utcNow(),5,2)), 3), concat(substring(utcNow(),0,4), '1'), \nif(equals(int(substring(utcNow(),5,2)), 4), concat(substring(utcNow(),0,4), '1'), \nif(equals(int(substring(utcNow(),5,2)), 5), concat(substring(utcNow(),0,4), '5'), \nif(equals(int(substring(utcNow(),5,2)), 6), concat(substring(utcNow(),0,4), '5'), \nif(equals(int(substring(utcNow(),5,2)), 7), concat(substring(utcNow(),0,4), '5'), \nif(equals(int(substring(utcNow(),5,2)), 8), concat(substring(utcNow(),0,4), '5'), \nif(equals(int(substring(utcNow(),5,2)), 9), concat(substring(utcNow(),0,4), '9'), \nif(equals(int(substring(utcNow(),5,2)), 10), concat(substring(utcNow(),0,4), '9'), \nif(equals(int(substring(utcNow(),5,2)), 11), concat(substring(utcNow(),0,4), '9'), \nif(equals(int(substring(utcNow(),5,2)), 12), concat(substring(utcNow(),0,4), '9'), \n''))))))))))))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set COUNT_DT",
				"description": "Compute COUNT_DT from SESSION_CD",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set SESSION_CD",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_COUNT_DT",
					"value": {
						"value": "@if(equals(int(substring(variables('v_SESSION_CD'),4,1)), 1), concat(substring(variables('v_SESSION_CD'),0,4), '-02-01'), \nif(equals(int(substring(variables('v_SESSION_CD'),4,1)), 5), concat(substring(variables('v_SESSION_CD'),0,4), '-06-30'), \nif(equals(int(substring(variables('v_SESSION_CD'),4,1)), 9), concat(substring(variables('v_SESSION_CD'),0,4), '-11-01'),  \n'')))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup Session Record",
				"description": "",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "exec_pl_DIM_SNAPSHOT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlMISource",
						"sqlReaderQuery": {
							"value": "SELECT SESSION_CD AS lkp_SESSION_CD, SES_ENGLISH_NAME FROM [DWH].[DIM_SESSION] WHERE SESSION_CD='@{variables('v_SESSION_CD')}'\n",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "IRDGMI_DWH",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Lookup Snapshot Record",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Lookup Session Record",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlMISource",
						"sqlReaderQuery": {
							"value": "SELECT SESSION_CD AS SNAPSHOT_SESSION_CD, SNAPSHOT_CATEGORY, START_DT AS SNAPSHOT_START_DT FROM [DWH].[DIM_SNAPSHOT] WHERE SNAPSHOT_CATEGORY='@{variables('v_SNAPSHOT_CATEGORY')}' AND SESSION_CD='@{variables('v_SESSION_CD')}'",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "IRDGMI_DWH",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "If Valid Snapshot and Session",
				"description": "Validate Session, Snapshot and DIM_STUDENT_SCD records for run session",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup Source Data Copied",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(and(and(not(equals(activity('Lookup Session Record').output.count, 0)),not(equals(activity('Lookup Snapshot Record').output.count, 0))), greater(activity('Lookup DIM_STUDENT_SCD Count').output.firstRow.SCD_COUNT, 0)),equals(activity('Lookup Source Data Copied').output.firstRow.SRC_DATA_OK, true))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail If Prereq Invalid",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "Validation pre-checks failed.  Invalid values for any of DIM_SESSION, DIM_SNAPSHOT, DIM_STUDENT_SCD or Source Data Counts.",
								"errorCode": "101"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "exec_pl_DIM_CENSUS_SECTION",
							"description": "Run pipeline to populate DIM_CENSUS_SECTION",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_DIM_CENSUS_SECTION",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"p_EXTRACT_SESSION_CD": {
										"value": "@variables('v_SESSION_CD')",
										"type": "Expression"
									},
									"p_SESSION_NAME": {
										"value": "@activity('Lookup Session Record').output.value[0].SES_ENGLISH_NAME",
										"type": "Expression"
									},
									"p_SNAPSHOT_START_DT": {
										"value": "@activity('Lookup Snapshot Record').output.value[0].SNAPSHOT_START_DT",
										"type": "Expression"
									},
									"p_SNAPSHOT_CATEGORY": {
										"value": "@activity('Lookup Snapshot Record').output.value[0].SNAPSHOT_CATEGORY",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "exec_pl_DIM_CENSUS_QUESTION",
							"description": "Run pipeline to populate DIM_CENSUS_QUESTION",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "exec_pl_DIM_CENSUS_SECTION",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_DIM_CENSUS_QUESTION",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"p_EXTRACT_SESSION_CD": {
										"value": "@variables('v_SESSION_CD')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "exec_pl_DIM_CENSUS_ANSWER",
							"description": "Run pipeline to populate DIM_CENSUS_ANSWER",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "exec_pl_DIM_CENSUS_QUESTION",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_DIM_CENSUS_ANSWER",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"p_EXTRACT_SESSION_CD": {
										"value": "@variables('v_SESSION_CD')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "exec_pl_DIM_CENSUS_ANSWER_NOTE",
							"description": "Run pipeline to populate DIM_CENSUS_ANSWER_NOTE",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "exec_pl_DIM_CENSUS_ANSWER",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_DIM_CENSUS_ANSWER_NOTE",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"p_EXTRACT_SESSION_CD": {
										"value": "@variables('v_SESSION_CD')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "exec_pl_STG_ST_REG_STS_ENROL",
							"description": "Run pipeline to populate DWHS.STG_ST_REG_STS_ENROL with master list of student enrolments for the session.  This table joins with the Census data to populate the fact table.",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "exec_pl_DIM_CENSUS_ANSWER_NOTE",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_STG_ST_REG_STS_ENROL",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"p_EXTRACT_SESSION_CD": {
										"value": "@variables('v_SESSION_CD')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "exec_pl_ST_EDI_CENSUS_FACT",
							"description": "Run pipeline to populate ST_EDI_CENSUS_FACT",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "exec_pl_STG_ST_REG_STS_ENROL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_ST_EDI_CENSUS_FACT",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"p_EXTRACT_SESSION_CD": {
										"value": "@variables('v_SESSION_CD')",
										"type": "Expression"
									},
									"p_COUNT_DT": {
										"value": "@concat('''', variables('v_COUNT_DT'), '''')",
										"type": "Expression"
									},
									"p_SNAPSHOT_CATEGORY": {
										"value": "@variables('v_SNAPSHOT_CATEGORY')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "FailIfAnyChildPipelinesFailOrSkipped",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "exec_pl_ST_EDI_CENSUS_DATA",
									"dependencyConditions": [
										"Skipped",
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": "One or more child pipelines has been skipped or has failed.",
								"errorCode": "102"
							}
						},
						{
							"name": "exec_pl_ST_EDI_CENSUS_DATA",
							"description": "Run pipeline to populate a flat table that has all required fields for reporting.",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "exec_pl_ST_EDI_CENSUS_FACT",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_ST_EDI_CENSUS_DATA",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"p_SESSION_CD": {
										"value": "@variables('v_SESSION_CD')",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Lookup DIM_STUDENT_SCD Count",
				"description": "Lookup DIM_STUDENT_SCD Count for Session",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Lookup Snapshot Record",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlMISource",
						"sqlReaderQuery": {
							"value": "SELECT COUNT(*) AS SCD_COUNT FROM [DWH].[DIM_STUDENT_SCD] WHERE SESSION_CD='@{variables('v_SESSION_CD')}'",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "IRDGMI_DWH",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "exec_pl_DIM_SNAPSHOT",
				"description": "Insert record in DIM_SNAPSHOT for the current run.",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set COUNT_DT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_DIM_SNAPSHOT_Census",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_EXTRACT_SESSION_CD": {
							"value": "@variables('v_SESSION_CD')",
							"type": "Expression"
						},
						"p_COUNT_DT": {
							"value": "@variables('v_COUNT_DT')",
							"type": "Expression"
						},
						"p_SNAPSHOT_CATEGORY": {
							"value": "@variables('v_SNAPSHOT_CATEGORY')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Lookup Source Data Copied",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Lookup DIM_STUDENT_SCD Count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlMISource",
						"sqlReaderQuery": {
							"value": "DECLARE @SRC_DATA_OK BIT;\r\nDECLARE @SRC_SECTION BIT; DECLARE @SRC_QUESTION BIT; DECLARE @SRC_OPTION BIT; DECLARE @SRC_CENSUS BIT; DECLARE @SRC_ANSWER BIT;\r\nSET @SRC_DATA_OK=0;\r\nSET @SRC_SECTION=0; SET @SRC_QUESTION=0; SET @SRC_OPTION=0; SET @SRC_CENSUS=0; SET @SRC_ANSWER=0;\r\nSELECT @SRC_SECTION = CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END FROM CENSUS.SECTION WHERE EXTRACT_SESSION_CD='@{variables('v_SESSION_CD')}';\r\nSELECT @SRC_QUESTION = CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END FROM CENSUS.QUESTION WHERE EXTRACT_SESSION_CD='@{variables('v_SESSION_CD')}';\r\nSELECT @SRC_OPTION = CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END FROM CENSUS.[OPTION] WHERE EXTRACT_SESSION_CD='@{variables('v_SESSION_CD')}';\r\nSELECT @SRC_CENSUS = CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END FROM CENSUS.CENSUS WHERE EXTRACT_SESSION_CD='@{variables('v_SESSION_CD')}';\r\nSELECT @SRC_ANSWER = CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END FROM CENSUS.ANSWER WHERE EXTRACT_SESSION_CD='@{variables('v_SESSION_CD')}';\r\nSET @SRC_DATA_OK= CASE WHEN @SRC_SECTION=1 AND @SRC_QUESTION=1 AND @SRC_OPTION=1 AND @SRC_CENSUS=1 AND @SRC_ANSWER=1 THEN 1 ELSE 0 END;\r\nSELECT @SRC_DATA_OK AS SRC_DATA_OK;",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "IRDGMI_UT_SRC",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"email_to": {
				"type": "string",
				"defaultValue": "anton.kruger@utoronto.ca,louise.tardif@utoronto.ca,eric.zhao@utoronto.ca,etl@utoronto.ca,ahalya.rajkumar@utoronto.ca"
			}
		},
		"variables": {
			"v_SESSION_CD": {
				"type": "String"
			},
			"v_COUNT_DT": {
				"type": "String"
			},
			"v_SNAPSHOT_CATEGORY": {
				"type": "String",
				"defaultValue": "UofT Student Equity Census"
			}
		},
		"folder": {
			"name": "Census"
		},
		"annotations": []
	}
}